@inherits PanelBase

<style>
	.waypoint-item {
		display: flex;
		cursor: pointer;
		align-items: center;
	}

		.waypoint-item:hover {
			background-color: rgba(255,255,255,0.5);
		}

	.wp-cell {
		margin: 2px 4px;
		width: 90px;
	}
</style>

@if (Fleet != null)
{
	<p><b>Owner</b> @GetPlayerName(Fleet.OwnerId)</p>
	<p><b>Scanner Range</b> @Fleet.ScannerRange</p>

	@if (Fleet is IFleetController ctrl)
	{
		<div>
			<b>Waypoints</b>
			@foreach (var wp in GetWaypoints())
			{
				<div class="waypoint-item">
					<div class="wp-cell" style="width:30px;">#@wp.Id</div>
					<div class="wp-cell">XY: @wp.Target</div>
					<div class="wp-cell">Dist: @Math.Round(wp.Distance, 0) ly</div>
					<div class="wp-cell">Eta: @wp.ETA</div>
					<Icon Name="IconName.ClearSearch" @onclick="@(() => DeleteWaypoint(wp.Id))" Style="margin:2px;" />
				</div>
			}
		</div>

		<Button Size="ButtonSize.Small" Color="Color.Danger" Clicked="ClearFleetWaypoints" Disabled="!Fleet.Waypoints.Any()">Clear WPs</Button>
		<Button Size="ButtonSize.Small" Color="Color.Primary" Clicked="AddFleetWaypoint">@(InClickMode ? "Done" : "Add WPs")</Button>
	}
}

@code
{
	[Parameter]
	public IFleet Fleet { get; set; }

	[Parameter]
	public bool InClickMode { get; set; }

	[Parameter]
	public EventCallback<bool> InClickModeChanged { get; set; }

	[Parameter]
	public EventCallback ModelChanged { get; set; }

	private string GetPlayerName(int playerId)
	{
		var player = GameWrapper.Client.Players.SingleOrDefault(p => p.Id == playerId);
		return player?.Name ?? $"Player #{playerId}";
	}

	private async Task ClearFleetWaypoints()
	{
		if (Fleet is IFleetController ctrl)
		{
			ctrl.SetWaypoints(null);
			await ModelChanged.InvokeAsync(this);
		}
	}

	private async Task AddFleetWaypoint()
	{
		if (Fleet is IFleetController fleet)
		{
			InClickMode = !InClickMode;
			await InClickModeChanged.InvokeAsync(InClickMode);
		}
	}

	private async Task DeleteWaypoint(int itemId)
	{
		if (Fleet is IFleetController ctrl)
		{
			var newList = Fleet.Waypoints.ToList();
			newList.RemoveAt(itemId - 1);
			ctrl.SetWaypoints(newList);
			await ModelChanged.InvokeAsync(this);
		}
	}

	private IEnumerable<WaypointItem> GetWaypoints()
	{
		const double speed = 49;

		int id = 0;
		Position lastPos = Fleet.Position;
		int totTime = 0;

		foreach (var wp in Fleet.Waypoints)
		{
			var distance = lastPos.DistanceTo(wp);
			var eta = (int)Math.Ceiling(distance / speed);
			totTime += eta;
			lastPos = wp;
			id++;

			yield return new WaypointItem
			{
				Id = id,
				Target = wp,
				Distance = distance,
				ETA = totTime,
			};
		}
	}

	struct WaypointItem
	{
		public int Id { get; set; }
		public Position Target { get; set; }
		public double Distance { get; set; }
		public int ETA { get; set; }

		public override string ToString()
		{
			return $"#{Id} (X: {Target.X}, Y: {Target.Y}), Dist: {Distance:0.}ly, ETA: {ETA}";
		}
	}
}
