@inherits PanelBase

<style>
	.small-font {
		font-size: small;
	}
</style>

@if (Planet != null && IsEnabled)
{
	<div class="small-font">
		@if (Planet.Details != null)
		{
			@if (Planet.Timestamp.HasValue)
			{
				<p><i>(As of turn @Planet.Timestamp)</i></p>
			}

			@if (Player != null)
			{
				<p><b>Value</b> @GetPlanetValue()%</p>
			}

			<div style="width: 250px;">
				<p><b>Environment</b><EnvironmentPanel Environment="@Planet.Details.Environment" /></p>
				<p><b>Minerals</b><MineralsPanel Minerals="Planet.Details.Minerals" /></p>
			</div>
		}
		else
		{
			<i>No information available.</i>
		}

		@if (Planet.Settlement != null)
		{
			<p><b>Owner</b> @GetPlayerName(Planet.Settlement.OwnerId)</p>
			<p><b>Population</b> @Planet.Settlement.Population</p>
			<p><b>Scanner Range</b> @Planet.Settlement.ScannerRange</p>

			@if (Planet.Settlement is ISettlementController controller)
			{
				<BuildQueuePanel Settlement="@controller" />
			}
		}
	</div>
}

@code
{
	[Parameter]
	public IPlanet Planet { get; set; }

	private IPlayer Player => GameWrapper.Client.Player;

	private int GetPlanetValue()
	{
		var value = Player.GetPlanetValue(Planet) ?? 0;

		return (int)(100 * value);
	}

	private string GetPlayerName(int playerId)
	{
		var player = GameWrapper.Client.Players.SingleOrDefault(p => p.Id == playerId);
		return player?.Name ?? $"Player #{playerId}";
	}
}
