@page "/galaxy"

@using Stars.Core
@using Stars.Core.Setup

<style>
	.main-container {
		position: relative;
	}

	.info-panel {
		position: absolute;
		background-color: rgba(40,60,80,0.65);
		color: white;
		border-radius: 3px;
		box-shadow: 0 0 1px 1px rgb(80,120,160);
		padding: 4px;
	}

	.top {
		top: 10px;
	}
	.bottom {
		bottom: 10px;
	}
	.left {
		left: 10px;
	}
	.right {
		right: 10px;
	}

</style>

<div>
	<div class="main-container">
		<UiGalaxy Galaxy="galaxy" OnPlanetSelected="PlanetClicked" @ref="UI" @bind-ScaleRate="ZoomFactor">
			<circle cx="@stats.Center.X" cy="@stats.Center.Y" r="15" stroke="blue" fill="transparent" />
			<circle cx="@stats.MinPlanet.Position.X" cy="@stats.MinPlanet.Position.Y" r="10" stroke="green" fill="transparent" />
			<circle cx="@stats.MaxPlanet.Position.X" cy="@stats.MaxPlanet.Position.Y" r="10" stroke="red" fill="transparent" />

			@if (selectedPlanet != null)
			{
				<circle cx="@selectedPlanet.Position.X" cy="@selectedPlanet.Position.Y" r="5" stroke="yellow" fill="transparent" />
			}
		</UiGalaxy>

		@if (selectedPlanet != null)
		{
			<div class="info-panel bottom left" @onclick="() => selectedPlanet = null">
				<PlanetInfoPanel Planet="selectedPlanet" />
			</div>
		}

		<div class="info-panel bottom right">
			<div id="SVGcoords"></div>
			<div id="Calccoords"></div>
			<div>Zoom: @($"{(100 * ZoomFactor):0}%")</div>
		</div>

		<div class="info-panel top left">
			<h5>Closest Neighbor</h5>
			<div>Min: @stats.Min ly</div>
			<div>Max: @stats.Max ly</div>
			<div>Avg: @stats.Avg ly</div>
		</div>
	</div>

	<div style="margin: 5px;">
		<LabelBox Label="Galaxy Size">
			<input @bind-value="settings.GalaxySize" class="num-input" />
		</LabelBox>
		<LabelBox Label="Min. Distance">
			<input @bind-value="settings.MinimumDistanceBetweenPlanets" class="num-input" />
		</LabelBox>
		<LabelBox Label="Planets">
			<input @bind-value="settings.PlanetCount" id="inpPlanets" class="num-input" />
		</LabelBox>
		
		<button @onclick="Reset">Generate New Galaxy</button>
	</div>

	@if (errorMessage != null)
	{
		<div style="color: red">@errorMessage</div>
	}
</div>

@code
{
	private GalaxyGeneratorSettings settings = new GalaxyGeneratorSettings();
	private Galaxy galaxy;
	private GalaxyStats stats;
	private string errorMessage;
	private Planet selectedPlanet;
	private Position relativePlanetPosition;
	private UiGalaxy UI;

	private double ZoomFactor = 1;

	protected override void OnInitialized()
	{
		Generate();
	}

	private void PlanetClicked(Planet planet)
	{
		selectedPlanet = planet != selectedPlanet   ? planet    : null;
	}

	private void Generate()
	{
		errorMessage = null;
		selectedPlanet = null;
		var generator = new GalaxyGenerator();

		try
		{
			galaxy = generator.Generate(settings);
			stats = GetStats(galaxy);
		}
		catch (Exception ex)
		{
			errorMessage = "Error: " + ex.Message;
		}
	}

	private void Reset()
	{
		Generate();
		UI.ResetViewBox();
	}

	private static GalaxyStats GetStats(Galaxy galaxy)
	{
		var stats = new GalaxyStats();

		// Center of galaxy
		var pts = galaxy.Planets.Select(planet => planet.Position);
		var cx = Round(pts.Average(p => p.X));
		var cy = Round(pts.Average(p => p.Y));
		stats.Center = new Position(cx, cy);

		// Distance to closest neighbor
		var closestNeighborDistances = galaxy.Planets
			.Select(planet => Closest(planet, galaxy.Planets))
			.ToList();

		var min = closestNeighborDistances.Min();
		var max = closestNeighborDistances.Max();

		stats.Min = Round(min);
		stats.Max = Round(max);
		stats.Avg = Round(closestNeighborDistances.Average());

		var iMin = closestNeighborDistances.IndexOf(min);
		var iMax = closestNeighborDistances.IndexOf(max);

		stats.MinPlanet = galaxy.Planets[iMin];
		stats.MaxPlanet = galaxy.Planets[iMax];

		return stats;

		static int Round(double x)
		{
			return (int)Math.Round(x, 0);
		}

		static double Closest(Planet planet, IList<Planet> planets)
		{
			var minDistSqrd = planets
				.Where(p => p != planet)
				.Select(p => DistanceSquared(p.Position, planet.Position))
				.Min();

			return Math.Sqrt(minDistSqrd);

			static double DistanceSquared(Position a, Position b)
			{
				var dx = a.X - b.X;
				var dy = a.Y - b.Y;
				return dx * dx + dy * dy;
			}
		}
	}

	struct GalaxyStats
	{
		public Position Center { get; set; }

		public int Min { get; set; }
		public int Max { get; set; }
		public int Avg { get; set; }

		public Planet MinPlanet { get; set; }
		public Planet MaxPlanet { get; set; }
	}
}
