@page "/game/{GameId:int}/{PlayerId:int}"

@inject IJSRuntime JSRuntime
@inject GameServerService GameServers

@implements IDisposable

<style>
	.main-container {
		position: relative;
		width: 100%;
		height: 100vh;
	}

	.setup-container {
		margin: 5px;
	}

	.small-font {
		font-size: small;
	}
</style>

<div>
	<div class="main-container" id="mejn">
		@if (client != null)
		{
			<UiGalaxy GameWrapper="wrapper" @bind-Selection="selection" InAutoSelectMode="!inClickMode" Clicked="GalaxyClicked" DisplayMode="displayMode" />

			<InfoSpace Position ="top left">
				<InfoPanel Title="Game State">
					<div>Turn: @client.CurrentTurn</div>
					<div>ETA: @client.TriggerStatus</div>
					<div @onclick="ToggleDisplayMode">Display Mode: @displayMode</div>
					<Button Size="ButtonSize.Small" Color="Color.Primary" Clicked="client.SetReadyFlag">Ready</Button>
				</InfoPanel>
			</InfoSpace>

			<InfoSpace Position="top right">
				<InfoPanel Title="Scoreboard">
					@foreach (var item in client.Scoreboard)
					{
						<div>@($"{item.PlayerName}: {item.Score:### ##0} pts")</div>
					}
				</InfoPanel>
			</InfoSpace>

			@if (selection.SelectedObject != null)
			{ 
				<InfoSpace Position="bottom left">
					@if (selection.Objects?.Count() > 1)
					{
						<InfoPanel Title="Objects at Location">
							@foreach (var obj in selection.Objects)
							{
								<div @onclick="@(() => Select(obj.ObjectId))">@obj.ObjectId</div>
							}
						</InfoPanel>
					}
					<InfoPanel Title="Selected Object">
						@if (selection.SelectedObject is IPlanet planet)
						{
							<PlanetInfoPanel Planet="planet" IsEnabled="true" Player="@Player" />
						}
						else if (selection.SelectedObject is IFleet fleet)
						{
							<FleetPanel Fleet="fleet" @bind-InClickMode="inClickMode" />
						}
					</InfoPanel>
				</InfoSpace>
			}
		}
	</div>
</div>

@code
{
	// UI
	private UiDisplayMode displayMode = UiDisplayMode.Default;

	// Model
	private GameWrapper wrapper;
	private GameClient client => wrapper.Client;
	private IGalaxy Galaxy => client.GalaxyView;
	private IPlayer Player => client.Players.SingleOrDefault(p => p.Id == PlayerId);

	// Selection
	private Selection selection;
	private bool inClickMode;

	[Parameter]
	public int GameId { get; set; }

	[Parameter]
	public int PlayerId { get; set; }

	protected override void OnInitialized()
	{
		wrapper = new GameWrapper();
		wrapper.Client = GameServers.GetGameClient(GameId, PlayerId);
		wrapper.Client.GameUpdated += GameUpdated;
		wrapper.Client.TriggerUpdated += TriggerUpdated;
	}

	public void Dispose()
	{
		if (client != null)
		{
			client.TriggerUpdated -= TriggerUpdated;
			client.GameUpdated -= GameUpdated;
			client.Dispose();
		}
	}

	private void Update()
	{
		selection = selection.Refresh(Galaxy);
		StateHasChanged();
	}

	private void GameUpdated(object sender, EventArgs e)
	{
		InvokeAsync(Update);
	}

	private void TriggerUpdated(object sender, EventArgs e)
	{
		InvokeAsync(Update);
	}

	private void GalaxyClicked(SvgMouseEventArgs e)
	{
		if (selection.SelectedObject is IFleetController fleet)
		{
			int Round(double d) => (int)Math.Round(d);

			var x = Round(e.SvgCoords.X);
			var y = Round(e.SvgCoords.Y);
			var pos = new Position(x, y);

			var closestObject = Galaxy.ClosestSpaceObject(pos);
			if (pos.DistanceTo(closestObject.Position) < 2.5)
			{
				pos = closestObject.Position;
			}

			var list = fleet.Waypoints.ToList();
			list.Add(pos);

			fleet.SetWaypoints(list);
		}
	}

	private void ToggleDisplayMode()
	{
		displayMode = displayMode == UiDisplayMode.Default
			? UiDisplayMode.PlanetValue
			: UiDisplayMode.Default;
	}

	private void Select(string objectId)
	{
		selection = selection.SelectObject(objectId);
	}
}
